## Item-Based Recommendation Systems

In [1]:
import pandas as pd
pd.set_option("display.max_columns", None)

In [7]:
movie = pd.read_csv(r"D:\Miuul\recommender_systems-221002-142621\recommender_systems\datasets\movie_lens_dataset\movie.csv")
rating = pd.read_csv(r"D:\Miuul\recommender_systems-221002-142621\recommender_systems\datasets\movie_lens_dataset\rating.csv")

In [8]:
df = movie.merge(rating,how="left", on="movieId")

In [10]:
df.head()

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3.0,4.0,1999-12-11 13:36:47
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,6.0,5.0,1997-03-13 17:50:52
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,8.0,4.0,1996-06-05 13:37:51
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,10.0,4.0,1999-11-25 02:44:47
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,11.0,4.5,2009-01-02 01:13:41

In [9]:
df.shape

(20000797, 6)

Create Movie Dataframe

In [11]:
df["title"].nunique()

27262

In [12]:
df["title"].value_counts()

title
Pulp Fiction (1994)                          67310
Forrest Gump (1994)                          66172
Shawshank Redemption, The (1994)             63366
Silence of the Lambs, The (1991)             63299
Jurassic Park (1993)                         59715
                                             ...
Rapture (Arrebato) (1980)                        1
Education of Mohammad Hussein, The (2013)        1
Satanas (2007)                                   1
Psychosis (2010)                                 1
Innocence (2014)                                 1
Name: count, Length: 27262, dtype: int64

In [13]:
comment_counts = pd.DataFrame(df["title"].value_counts())

In [14]:
comment_counts.head()

                                  count
title
Pulp Fiction (1994)               67310
Forrest Gump (1994)               66172
Shawshank Redemption, The (1994)  63366
Silence of the Lambs, The (1991)  63299
Jurassic Park (1993)              59715

In [18]:
rare_movies = comment_counts[comment_counts["count"]<=1000].index

In [19]:
comment_movies = df[~df["title"].isin(rare_movies)]

In [20]:
comment_movies.shape

(17766015, 6)

In [21]:
comment_movies["title"].nunique()

3159

In [22]:
user_movie_df = comment_movies.pivot_table(index=["userId"], columns=["title"], values="rating")

In [23]:
movie_name = "Matrix, The (1999)"

In [24]:
movie_name = user_movie_df[movie_name]

In [25]:
user_movie_df.corrwith(movie_name).sort_values(ascending=False).head(20)

title
Matrix, The (1999)                                           1.000000
Matrix Reloaded, The (2003)                                  0.516906
Matrix Revolutions, The (2003)                               0.449588
Animatrix, The (2003)                                        0.367151
Blade (1998)                                                 0.334493
Terminator 2: Judgment Day (1991)                            0.333882
Minority Report (2002)                                       0.332434
Edge of Tomorrow (2014)                                      0.326762
Mission: Impossible (1996)                                   0.320815
Lord of the Rings: The Fellowship of the Ring, The (2001)    0.318726
Lord of the Rings: The Two Towers, The (2002)                0.318086
Lord of the Rings: The Return of the King, The (2003)        0.314241
Inception (2010)                                             0.311678
Batman Begins (2005)                                         0.305964
Gladiator (2000)                                             0.305422
Stargate (1994)                                              0.304175
Fight Club (1999)                                            0.302262
X-Men (2000)                                                 0.301992
Men in Black (a.k.a. MIB) (1997)                             0.300676
Star Wars: Episode VI - Return of the Jedi (1983)            0.299442
dtype: float64

In [27]:
def check_film(keyword, user_movie_df):
    return [col for col in user_movie_df.columns if keyword in col]

In [28]:
check_film("Inception", user_movie_df)

['Inception (2010)']

In [29]:
movie_name = "Inception (2010)"
movie_name = user_movie_df[movie_name]

In [30]:
user_movie_df.corrwith(movie_name).sort_values(ascending=False).head()

title
Inception (2010)                 1.000000
Amateur (1994)                   0.499658
Losing Isaiah (1995)             0.417316
Dark Knight Rises, The (2012)    0.402667
Interstellar (2014)              0.393413
dtype: float64